version: "3.8"

services:
  mysql-database:
    image: mysql:8
    networks:
      - surfvivor-fitness-backend
    container_name: mysql-database-survivorfitness
    environment:
      - MYSQL_ROOT_PASSWORD=Password2020!
      - MYSQL_DATABASE=survivorfitnessdb
    expose:
      - "3306"
    volumes:
      - mysql-data:/var/lib/mysql

  backend-api:
    image: ilyaermakov/survivor-fitness-backend:v9-add-users-email
    networks:
      - surfvivor-fitness-backend
    container_name: backend-api-survivorfitness
    ports:
      - "8080:8080"
    environment:
      # Domain name is the same as the database service name
      SFF_DB_URL: jdbc:mysql://mysql-database:3306/survivorfitnessdb
      SFF_DB_USERNAME: root
      SFF_DB_PASSWORD: Password2020!
      SFF_DB_DRIVER_CLASS_NAME: com.mysql.cj.jdbc.Driver
      SFF_DB_HIBERNATE_DIALECT: org.hibernate.dialect.MySQL8Dialect
      SFF_DB_DDL_AUTO: create
      SFF_JWT_SECRET_KEY: ${SFF_JWT_SECRET_KEY}
      SFF_JWT_ISSUER: SurvivorFitness-Backend
      SFF_JWT_SUBJECT: JWT-Token
      SFF_EMAIL_SMTP_HOST: ${SFF_EMAIL_SMTP_HOST}
      SFF_EMAIL_TLS_PORT: ${SFF_EMAIL_TLS_PORT}
      SFF_EMAIL_USERNAME: ${SFF_EMAIL_USERNAME}
      SFF_EMAIL_PASSWORD: ${SFF_EMAIL_PASSWORD}
    depends_on:
      - mysql-database

networks:
  surfvivor-fitness-backend:

volumes:
  mysql-data:
